albumentations==1.0.3
boto3==1.18.3
hydra-core==1.1.0

Keras==2.4.3
Keras-Preprocessing
keras-vis

opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56

ray==1.7.0

scikit-learn==1.0
scikit-image

tensorflow==2.5.0
tensorboard
tensorflow-hub
tensorflow-probability

transformers==4.11.3

gym
h5py
tqdm
python-dotenv
japanize-matplotlib
jupyter
jupyterlab
pandas
Pillow
pytest

matplotlib
numpy

scipy
seaborn